<span class="tab-strip__tab-definition" aria-hidden="true"></span>

@implements IDisposable

@code {
    [CascadingParameter] internal TabStrip? Owner { get; set; }

    [Parameter, EditorRequired] public string TabId { get; set; } = default!;
    [Parameter, EditorRequired] public string Title { get; set; } = default!;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Icon { get; set; }

    protected override void OnInitialized()
    {
        Owner?.RegisterTab(this);
    }

    protected override void OnParametersSet()
    {
        Owner?.UpdateTab(this);
    }

    public void Dispose()
    {
        Owner?.UnregisterTab(this);
    }
}
